
/* Estilos generales */

section {
    align-items: center;
    justify-content: center;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  

/* A */
.seccion-clara-A{
  background-color: #F3FFF0;
}

.A {
    padding: 40px 40px 60px 40px;
  }
  
  .A .columna {
    padding: 20px;
    border: 2px solid #1A410B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    color: #1A410B;
  }
  
  
  .A .columna:hover {
    color: #5BA14A;
    background-color: #1A410B;
  }
  
  .A-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .A .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .A .badge{
    margin: 5px;
    background-color: #1A410B;
  }

  .A .columna:hover .badge{
    color: white;
    background-color: #91D081;
  }

/* AA */
.seccion-clara-AA{
  background-color: #E4EAFF;
}

.AA {
  padding: 40px 40px 60px 40px;
}

.AA .columna {
  padding: 20px;
  border: 2px solid #0A2385;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  color: #0A2385;
}


.AA .columna:hover {
  color: #8695CB;
  background-color: #0A2385;
}

.AA-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.AA .badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.AA .badge {
  margin: 5px;
  background-color: #0A2385;
}

.AA .columna:hover .badge{
  color: #E4EAFF;
  background-color: #435EBC;
}


/* AAA */

.seccion-clara-AAA{
  background-color: #FCF4FF;
}

.AAA {
  padding: 40px 40px 60px 40px;
}

.AAA .columna {
  padding: 20px;
  border: 2px solid #6d3d6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  color: #412c4f;
}


.AAA .columna:hover {
  color: #FCF4FF;
  background-color: #412c4f;
}

.AAA-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.AAA .badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.AAA .badge{
  margin: 5px;
  background-color: #6d3d6f;
}

.AAA .columna:hover .badge{
  color: #FCF4FF;
  background-color: #af5895;
}


